*{
    border: 0;
    margin: 0;
}

.nav{
    height: 50px;
    background-color: green;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    width: 30%;
}

h1{
    color: white;
}

input{
    border-radius: 10px;
    font-size: 16px;
}

.items{
    width: 20%;
    display: flex;
    justify-content: space-between;
    
}

a{
    color: white;
    text-decoration: none;
}

.img{
    height: 500px;
    background-image: url("images.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img p{
    color: white;
    text-align: justify;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.img button{
    height: 40px;
    width: 70px;
    border-radius: 10px;
}

.img button:hover{
    background-color: green;
    color: white;
}

.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.content h1{
    color: black;
}

.content p{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: justify;
}

.a, .b{
    margin-top: 20px;
    height: 300px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.x, .y, .z{
    width: 30%;
    height: 300px;
    background-color: aquamarine;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

img{
    border-radius: 50%;
    height: 200px;
    width: 50%;
}


.x h1, .y h1, .z h1{
    color: black;
}

.x p, .y p, .z p{
    padding: 5px;
    color: black;
    text-align: justify;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.footer{
    height: 30px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}